.container{

display: grid;
grid-template-columns: 1fr;
grid-template-rows: 4fr;

}
.fonteTexto{
    font-family: impact;
    font-size: 70px;
}

ul{
    list-style-position: inside;
    text-align: center;
    padding: 0;
}

li{
    margin: 8px;
}

main{
    background-color: #eee0ce;
    grid-area: main;
    padding: 40px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.dropAlinhamento{
    text-align: left !important;
    display: block !important;
    width: 100% !important;
    padding: 15px !important;
}
    
