body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    height: auto;
    font-family: impact;
    max-width: 1000px;
    word-break: break-word;
    overflow-wrap: break-word;
}
