.product-page{
    max-width:1200px;
    margin:auto;
    padding:40px 20px;
}
.product-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:50px;
    margin-bottom:60px;
}

.product-image img{
    width:100%;
    border-radius:15px;
}

.category{
    color:#d76d44;
    font-weight:bold;
    letter-spacing:1px;
}

.product-info h1{
    margin:10px 0;
}

.price{
    font-size:2rem;
    font-weight:bold;
    color:#dd9c3e;
    margin:20px 0;
}

.short-description{
    line-height:1.7;
    color:#555;
}

.quantity{
    margin:30px 0;
}

.quantity-box{
    display:flex;
    width:140px;
    margin-top:10px;
}

.quantity-box button{
    width:40px;
}

.quantity-box input{
    width:60px;
    text-align:center;
}

.actions{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

.buy-btn{
    background:#dd9c3e;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:8px;
    cursor:pointer;
}

.cart-btn{
    background:#4278d9;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:8px;
    cursor:pointer;
}

.description,
.specs,
.related-products{
    margin-top:60px;
}

.description h2,
.specs h2,
.related-products h2{
    margin-bottom:20px;
}

.specs table{
    width:100%;
    border-collapse:collapse;
}

.specs td{
    border:1px solid #ddd;
    padding:15px;
}

.related-grid{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.related-card{
    height:250px;
    border:1px solid #ddd;
    border-radius:12px;

    display:flex;
    align-items:center;
    justify-content:center;
}